
body{
  font-family:"Avenir Next";
}

header{
  font-size:20px;
  height:100px;
  background-color: navy;
}


.title h1{
  color:white;
  border-bottom: 1px solid;
  padding-top: 10px;
  margin:20px;

}

.index{
  border-bottom: 1px solid navy;
  margin-bottom:-30px;
}


.main{
  font-size: 20px;
  background-color: white;
  height:700PX;
  color:navy;
  padding: 0 10px;
}
.number a{
  color:white;
  line-height: 10px;
  display:block;
  padding:10px;
  text-align:center;
}
.btn{
  border-radius: 20px;
  font-size: 10px;
  margin:50px;
  float: inherit;
  opacity: 0.7;
  height:50px;
}
.btn p{
  background-color: rgb(38,0,152);
  border-radius: 10px;
  width:300px;
  box-shadow: 0px 3px black;
}
.number :hover{
  transition: all 0.1s;
  border-radius: 10px;
  background-image: url(https://gendai.ismcdn.jp/mwimgs/0/d/640m/img_0d810b92d6721811387368a00607e9d0249350.jpg)
}


.btn p:active{
  box-shadow:none;
  position:relative;
  top:3px;

}

.contact-form{
  padding-top:10px;
  color:white;
  margin-left:20px;
  float: inherit;
}

.call input:hover{
  cursor: pointer;
}
.footer{
  margin-top: 100px:
  color:white;
  background-color: navy;
  height:300px;
}

.logo{
  font-size:17px;
  position:relative;
  bottom:45px;
  right:20px;
  float:right;
}


.new{
 color:yellow;
}


.download{
  position:relative;
  bottom:260px;
  left:300px;
  color:white;
  padding:10px;
}

.download a{
  color:white;
  line-height: 10px;
  display:block;
  padding:10px;
  text-align:center;
}
