
body{
  font-family:"Avenir Next";
}

.header{
  background-color: navy;
  font-size:20px;
  color:white;
  margin-bottom: 10px;
  height:100px;
}
.title{
border-bottom: 1px solid;
}

.index{
  border-bottom: 1px solid navy;
}


.main{
  font-size: 10px;
  background-color: white;
  height:300PX;
  color:navy;
  padding: 20px 10px;
}

li{
  list-style: none;
  float:left;
  padding: 50px;
}


.footer{
background-color: navy;
height:200PX;
}
